[bumpversion]
current_version = 0.1
message = Bump version: {current_version} →  {new_version}
commit = True
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)
serialize = {major}.{minor}

[bumpversion:file:include/version.h]

